.login-image {
    width: 100%;
    height: 298px;
    margin-bottom: 35px;
}
.new_user{
    margin: 0px, 16px;
}

.label{
    font-size: 11px;
    color: #979797;
    margin-bottom: 4px;
}

.text{
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;

    &::placeholder {
        font-size: 18px;
        line-height: 22px;
    }
}

.form-btn {
    width: 100%;
    height: 48px;
    background-color: #FFE600;
    font-family: Poppins Medium;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border-bottom: none;
    margin-top: 110px;
}
input {
    border: none;
    border-bottom: 1px solid #C4C4C4;
}
.login-container{
    text-align: right;
    margin-top: 16px;
}
.text-login{
    color: #CCCCCC;
}